img {
  height:50%;
  width:70%;
}

body{
  margin:auto;
  width:60%;
  background:tomato;
}

a{
  text-decoration: none;
}

div{
    background-color: lightgrey;
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}
h1 {color:blue;
}
p {
  color:lightgrey
}
